<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Embracing the Enemy</title>

    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'contact/css/style.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue-indigo.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
          integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
          crossorigin="anonymous">


</head>

<body>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">ETƎ</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation mdl-layout--large-screen-only">
                <a class="mdl-navigation__link" href="/">Home</a>
                <a class="mdl-navigation__link" href="">Tour</a>
                <a class="mdl-navigation__link" href="">Music</a>
                <a class="mdl-navigation__link" href="/bio/">Bio</a>
                <a class="mdl-navigation__link active" href="/contact/">Contact</a>
            </nav>
            <div class="mdl-layout-spacer"></div>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">ETƎ</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="/">Home</a>
            <a class="mdl-navigation__link" href="">Tour</a>
            <a class="mdl-navigation__link" href="">Music</a>
            <a class="mdl-navigation__link" href="/bio/">Bio</a>
            <a class="mdl-navigation__link" href="/contact/">Contact</a>
        </nav>
    </div>
    <main class="mdl-layout__content">
        <div class="page-content">
            <div class="container mb-5">
                <div class="row mt-5">
                    <div class="col-md-8 col-sm-12">
                        <div class="row">
                            <div class="col">
                                <h1>CONTACT</h1>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                {% for paragraph in content_paragraphs %}
                                    <p class="mt-2">{{ paragraph|safe }}</p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-12">
                        <div class="row">
                            <div class="col">
                                <h3>Instagram feed</h3>
                            </div>
                        </div>

                        {% for media in ig_media %}
                            <div class="row mt-4">
                                <div class="col">
                                    {% if media.is_video %}
                                        <a href="https://www.instagram.com/p/{{ media.shortcode }}" target="_blank" class="video-link">
                                            <span class="text">
                                                <h1>▶</h1>
                                            </span>
                                            <img src="{{ media.src }}" class="instagram-img" alt="">
                                        </a>
                                    {% else %}
                                        <a href="https://www.instagram.com/p/{{ media.shortcode }}" target="_blank">
                                            <img src="{{ media.src }}" class="instagram-img" alt="">
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>

        <footer class="mdl-mega-footer">
            <div class="mdl-mega-footer__middle-section">

            </div>

            <div class="mdl-mega-footer__bottom-section">
                <div class="mdl-logo">© Embracing the Enemy 2018</div>
                <ul class="mdl-mega-footer__link-list">
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Privacy & Terms</a></li>
                </ul>
            </div>

        </footer>

    </main>
</div>

<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>